

/*footer*/
@media screen and (min-width: 1001px) and (max-width: 2560px) {
    .footer_list {
       
     
        grid-template-columns:repeat(4, 1fr);
    
        font-size: 16px;
    }
    
    footer{
        margin: 10px;
        background: #80cb9a81;
        background-size: 400% 400%;
        
        font-size: 23px;    
    }
    }

    
    
    @media screen and (min-width: 769px) and (max-width: 1000px) {
    footer{
    
        
        font-size: 16px;   
    
    }
    .footer_list {
        
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        font-size: 16px;
    }
    
    .icons_param{
    width: 50px;
    height: 50px;
    }
    
    .vk{
    font-size: 35px;
    }
    
    .instagram{
    font-size: 30px;
    }
    
    .youtube{
    font-size: 40px;
    }
    .telegram{
    font-size: 30px;
    }
    
    .facebook{
    font-size: 30px;
    }
    }
    
    @media screen and (min-width: 520px) and (max-width: 768px) {
    footer{
    
      
        font-size: 16px;   
    
    }
    .footer_list {
        grid-template-rows: repeat(4, 1fr);
        font-size: 17px;
    }
    
    .icons_param{
        width: 50px;
        height: 50px;
        margin: 12px; 
    }
    
    .vk{
        font-size: 40px;
      }
      
      .instagram{
        font-size: 35px;
      }
      
      .youtube{
        font-size: 45px;
      }
      .telegram{
        font-size: 35px;
      }
      
      .facebook{
        font-size: 35px;
      }
    
    }
    
    @media screen and (min-width: 320px) and (max-width: 519px) {
    footer{
    
        height: 800px;
        font-size: 10px;   
    
    }
    .footer_list {
        grid-template-rows: repeat(4, 1fr);
        font-size: 13px;
        margin: 3px;
    }
    
    
    .icons_param{
        width: 30px;
        height: 30px;
        margin: 8px; 
    }
    
    .vk{
        font-size: 25px;
      }
      
      .instagram{
        font-size: 20px;
      }
      
      .youtube{
        font-size: 30px;
      }
      .telegram{
        font-size: 20px;
      }
      
      .facebook{
        font-size: 20px;
      
      }
    
    }
    
    /*адаптаци ве*/ 
    
    @media screen and (min-width: 320px) and (max-width: 450px) {

        .nav_menu {
            max-width: 519px;
            mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
            margin: 0 auto;   
             
          }
          
          .nav_menu ul li a {
            padding: 5px;
            font-family: "Open Sans";
            text-transform:uppercase;
            color: rgb(244, 246, 250);
            font-size: 18px;
            text-decoration: none;
            display: block;
            padding-right: 30px; 
          } 
          .content1{
            height: 220px;
            font-size: 20px;
        }        
   


}

@media screen and (min-width: 451px) and (max-width: 518px) {

    .nav_menu ul li a {
        padding: 5px;
        font-family: "Open Sans";
        text-transform:uppercase;
        color: rgb(244, 246, 250);
        font-size: 20px;
        text-decoration: none;
        display: block;
        padding-right: 30px; 
      } 

    .content1{
        height: 200px;
        font-size: 20px;
    }   
}


@media screen and (min-width: 519px) and (max-width: 768px) {

    .nav_menu {
        max-width: 500px;
        mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
        margin: 0 auto;     
      }
      
      .nav_menu ul li a {
        padding: 8px;
        font-family: "Open Sans";
        text-transform:uppercase;
        color: rgb(244, 246, 250);
        font-size: 21px;
        text-decoration: none;
        display: block;
        padding-bottom: -40px; 
        padding-right: 20px
      }   
      .content1{
        height: 180px;
        font-size: 20px;
    }


    #title_cubd{
      font-size: 32px;
    }

    .super_big_container{
      display: grid;
      /*grid-template-rows: repeat(2,1fr);*/
  
    
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      
  
      /*justify-content: center;*/
  }




}

@media screen and (min-width: 769px) and (max-width: 1000px) {
   
    .nav_menu {
        max-width: 1000px;
        mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
        margin: 0 auto;     
      }
      
      .nav_menu ul li a {
        padding: 10px;
        font-family: "Open Sans";
        text-transform:uppercase;
        color: rgb(244, 246, 250);
        font-size: 29px;
        text-decoration: none;
        display: block;
        padding-bottom: -40px; 
        padding-right: 20px
      }   
      .content1{
        height: 190px;
        
    }

    
}

@media screen and (min-width: 1001px) and (max-width: 1599px) {

    .nav_menu {
        max-width: 2000px;
        mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
        margin: 0 auto;     
      }
      
      .nav_menu ul li a {
        padding: 10px;
        font-family: "Open Sans";
        text-transform:uppercase;
        color: rgb(244, 246, 250);
        font-size: 32px;
        text-decoration: none;
        display: block;
        padding-bottom: -40px; 
        padding-right: 30px
      }   
      .content1{
        height: 190px;

    }


}


@media screen and (min-width: 1600px) and (max-width: 2000px) {
/*
    .nav_menu {
        max-width: 2000px;
        mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
        margin: 0 auto;     
      }*/
      /*
      .nav_menu ul li a {
        padding: 10px;
        font-size: 32px;
        padding-right: 30px;
      }   */
      /*
      .content1{
        
        height: 180px;
        font-size: 20px;
        margin-left: 200px;
        margin-right:200px;
    }*/
    /*
    .parallax{
        min-height:150px;
        margin: 10px;
        margin-left: 200px;
        margin-right:200px;
    }*/
  /*
    .article_class{
        padding: 100px;
        text-align: justify;
        font-size: 22px;
    }*/
    /*
    .content2{
        margin-left: 200px;
        margin-right:200px;
        height: 100%; 
        font-size: 35px;
        
    }
    */
}



    
      

    

@media screen and (min-width: 320px) and (max-width: 420px) {

  .article_class{

    padding: 10px;
    text-align: justify;
    font-size: 15px;
}

p{
    text-indent: 10px;
}

.oglavlenie_conteiner{
    display: block;
    
    padding: 5px;
    padding-top: 15px;
    padding-right: 5px;
    margin: 30px;
    text-align: left;
    border: 3px solid #ea0b4a;
    margin: 0px 30px;
    line-height: 1.3;
    font-size: 12px;
    
}

.oglavlenie ol li{

    margin: 0px 10px;
    float: left;
}

.table_container{ 
    text-align: center;
    font-size: 10px;
}


.super_big_container{
  display: grid;
  grid-template-columns:repeat(1, 1fr);
}

#title_cubd{
  font-size: 31px;
}
.big_container1{
  height: 650px;
  background: #f8050579;
}
.big_container2{
  height: 650px;
  background: #ffffff8f;
}
.big_container3{
  height: 650px;
  background: #69e81a76;
}
.big_container4{
  height: 650px;
  background: #12c4506a;
}
.button1{
  left: 15px;
  top: 30px;
  right: 0px;
  bottom: 0px;
}
.button2{
  left: -285px;
  top: 690px;
  right: 0px;
  bottom: 0px;
}
.button3{
  left: -580px;
  top: 1350px;
  right: 0px;
  bottom: 0px;
}
.button4{
  left: -882px;
  top: 2000px;
  right: 0px;
  bottom: 0px;
}

#kartin_anim{
 width: 90%;
 
}
.strips_cubd1_1 > div {
  top: 360px;
  left: 5px;
}

.strips_cubd1_2 > div {

  top: 300px;
  left: 5px;
}
.strips_cubd1_3 > div {
  top: 240px;
  left: 5px;
}

.strips_cubd1_4 > div {
  top: 180px;
  left: 5px;

}

.strips_cubd2_1 > div {
  top: 360px;
  left: -5px;
  
}

.strips_cubd2_2 > div {
  top: 300px;
  left: -5px;
}

.strips_cubd2_3 > div {
  top: 240px;
  left: -5px;
}

.strips_cubd2_4 > div {
  top: 180px;
  left: -5px;

}


.strips_cubd3_1 > div {

  top: 360px;
  left: -10px;
}

.strips_cubd3_2 > div {
  top: 300px;
  left: -10px;
}
/*1_3*/

.strips_cubd3_3 > div {
  top: 240px;
  left: -10px;
}


.strips_cubd3_4 > div {

  top: 180px;
  left: -10px;


}


.strips_cubd4_1 > div {

  top: 360px;
  left: -20px;

}

.strips_cubd4_2 > div {
  top: 300px;
  left: -20px;

}

.strips_cubd4_3 > div {

  top: 240px;
  left:-20px;

}


.strips_cubd4_4 > div {
  top: 180px;
  left:-20px;

}

}




@media screen and (min-width: 421px) and (max-width: 519px) {

  .article_class{

    padding: 12px;
    text-align: justify;
    font-size: 16px;
}

p{
    text-indent: 10px;
}

.oglavlenie_conteiner{
    display: block;
    
    padding: 5px;
    padding-top: 15px;
    padding-right: 5px;
    margin: 30px;
    text-align: left;
    border: 3px solid #ea0b4a;
    margin: 0px 30px;
    line-height: 1.3;
    font-size: 12px;
    
}

.oglavlenie ol li{
  
    /*line-height: 1.8;*/
    margin: 0px 10px;
    float: left;
}

.table_container{ 
    text-align: center;
    font-size: 10px;
}


}

  @media screen and (min-width: 520px) and (max-width: 768px) {
  
     .article_class{

    padding: 14px;
    text-align: justify;
    font-size: 17px;
}

p{
    text-indent: 12px;
}

.oglavlenie_conteiner{
    display: block;
    
    padding: 5px;
    padding-top: 15px;
    padding-right: 5px;
    margin: 30px;
    text-align: left;
    border: 3px solid #ea0b4a;
    margin: 0px 30px;
    line-height: 1.3;
    font-size: 17px;
    
}

.oglavlenie ol li{
  
    /*line-height: 1.8;*/
    margin: 0px 10px;
    float: left;
}

.table_container{ 
    text-align: center;
    font-size: 17px;
}


  }

  @media screen and (min-width: 769px) and (max-width: 1000px) {
    .article_class{
  
      padding: 25px;
      text-align: justify;
      font-size: 19px;
  }
  
  p{
      text-indent: 23px;
  }
  
  .oglavlenie_conteiner{
      display: block;
      
      padding: 10px;
      padding-top: 15px;
      padding-right: 5px;
      margin: 30px;
      text-align: left;
      border: 3px solid #ea0b4a;
      margin: 0px 30px;
      line-height: 1.3;
      font-size: 19px;
      
  }
  
  .oglavlenie ol li{
    
      /*line-height: 1.8;*/
      margin: 0px 10px;
      float: left;
  }
  
  .table_container{ 
      text-align: center;
      font-size: 19px;
  }
  
  
  }

  @media screen and (min-width: 1001px) and (max-width: 1599px) {

    .article_class{
  
      padding: 100px;
      text-align: justify;
      font-size: 21px;
  }
  
  p{
      text-indent: 40px;
  }
  
  .oglavlenie_conteiner{
      display: block;
      
      padding: 10px;
      padding-top: 15px;
      padding-right: 5px;
      margin: 30px;
      text-align: left;
      border: 3px solid #ea0b4a;
      margin: 0px 30px;
      line-height: 1.3;
      font-size: 21px;
      
  }
  
  .oglavlenie ol li{
    
      /*line-height: 1.8;*/
      margin: 0px 10px;
      float: left;
  }
  
  .table_container{ 
      text-align: center;
      font-size: 21px;
  }
  
  
  }

  @media screen and (min-width: 320px) and (max-width: 420px) {
 
    .super_big_container{
      display: grid;
      grid-template-columns:repeat(1, 1fr);
  
  
}
/*
  
    .button1{
      left: 0px;
    }
    .button2{
      left: -290px;
      top: 455px;
      right: 0px;
      bottom: 0px;
    }
    .button3{
      left: -580px;
      top: 950px;
      right: 0px;
      bottom: 0px;
    }
    .button4{
      left: -870px;
      top: 1460px;
      right: 0px;
      bottom: 0px;
    }
  
    #kartin_anim{
     width: 90%;
     
  }
  */
  }

  @media screen and (min-width: 421px) and (max-width: 519px) {

    .super_big_container{
      display: grid;
      grid-template-columns:repeat(1, 1fr);
    }

    #title_cubd{
      font-size: 38px;
    }
    .big_container1{
      height: 650px;
      background: #f8050579;
  }
  .big_container2{
      height: 650px;
      background: #ffffff8f;
  }
  .big_container3{
      height: 650px;
      background: #69e81a76;
  }
  .big_container4{
      height: 650px;
      background: #12c4506a;
  }
    .button1{
      left: 65px;
      top: 30px;
      right: 0px;
      bottom: 0px;
    }
    .button2{
      left: -240px;
      top: 690px;
      right: 0px;
      bottom: 0px;
    }
    .button3{
      left: -530px;
      top: 1350px;
      right: 0px;
      bottom: 0px;
    }
    .button4{
      left: -824px;
      top: 2000px;
      right: 0px;
      bottom: 0px;
    }
  
    #kartin_anim{
     width: 90%;
     
  }
    .strips_cubd1_1 > div {
      top: 360px;
      left: 55px;
    }
    
    .strips_cubd1_2 > div {

      top: 300px;
      left: 55px;
    }
  .strips_cubd1_3 > div {
      top: 240px;
      left: 55px;
    }
  
    .strips_cubd1_4 > div {
      top: 180px;
      left: 55px;
  
    }

    .strips_cubd2_1 > div {
      top: 360px;
      left: 40px;
      
    }
    
    .strips_cubd2_2 > div {
      top: 300px;
      left: 40px;
    }
  
    .strips_cubd2_3 > div {
      top: 240px;
      left: 40px;
    }

    .strips_cubd2_4 > div {
      top: 180px;
      left: 40px;

    }


    .strips_cubd3_1 > div {

      top: 360px;
      left: 38px;
    }
  
    .strips_cubd3_2 > div {
      top: 300px;
      left: 38px;
    }
    /*1_3*/
  
    .strips_cubd3_3 > div {
      top: 240px;
      left: 38px;
    }
  
  
  .strips_cubd3_4 > div {

      top: 180px;
      left: 38px;

  
    }

  
    .strips_cubd4_1 > div {

      top: 360px;
      left: 35px;

    }
    
    .strips_cubd4_2 > div {
      top: 300px;
      left: 35px;

    }
  
    .strips_cubd4_3 > div {

      top: 240px;
      left: 35px;

    }
  
  
  .strips_cubd4_4 > div {
      top: 180px;
      left: 35px;
  
    }


/*
    .super_big_container{
      display: grid;
      grid-template-columns:repeat(1, 1fr);
    }

    #title_cubd{
      font-size: 38px;
    }
    .big_container1{
      height: 650px;
      background: #f8050579;
  }
  .big_container2{
      height: 650px;
      background: #ffffff8f;
  }
  .big_container3{
      height: 650px;
      background: #69e81a76;
  }
  .big_container4{
      height: 650px;
      background: #12c4506a;
  }
    .button1{
      left: 0px;
    }
    .button2{
      left: -290px;
      top: 455px;
      right: 0px;
      bottom: 0px;
    }
    .button3{
      left: -580px;
      top: 950px;
      right: 0px;
      bottom: 0px;
    }
    .button4{
      left: -870px;
      top: 1460px;
      right: 0px;
      bottom: 0px;
    }
  
    #kartin_anim{
     width: 90%;
     
  }
    .strips_cubd1_1 > div {
      top: 300px;
      left: 102px;
    }
    
    .strips_cubd1_2 > div {

      top: 240px;
      left: 102px;
    }
  .strips_cubd1_3 > div {
      top: 180px;
      left: 102px;
    }
  
    .strips_cubd1_4 > div {
      top: 120px;
      left: 102px;
  
    }

    .strips_cubd2_1 > div {
      top: 300px;
      left: 102px;
      
    }
  
  
    
    .strips_cubd2_2 > div {
      top: 240px;
      left: 102px;
    }

  
    .strips_cubd2_3 > div {
      top: 180px;
      left: 102px;
    }
  
    .strips_cubd2_4 > div {
      top: 120px;
      left: 102px;

    }


    .strips_cubd3_1 > div {

      top: 300px;
      left: 102px;
    }
  
    .strips_cubd3_2 > div {
      top: 240px;
      left: 102px;
    }
  
    .strips_cubd3_3 > div {
      top: 180px;
      left: 102px;
    }
  
  
  .strips_cubd3_4 > div {

      top: 120px;
      left: 102px;

  
    }

  
    .strips_cubd4_1 > div {

      top: 300px;
      left: 102px;

    }
    
    .strips_cubd4_2 > div {
      top: 240px;
      left: 102px;

    }
 
    .strips_cubd4_3 > div {

      top: 180px;
      left: 102px;

    }
  
  
  .strips_cubd4_4 > div {
      top: 120px;
      left: 102px;
  
    }*/
  }
  

  @media screen and (min-width: 1600px) and (max-width: 2000px){

     .strips_cubd1_1 > div {
        top: 300px;
        left: 102px;
      }
      
      .strips_cubd1_2 > div {

        top: 240px;
        left: 102px;
      }
    .strips_cubd1_3 > div {
        top: 180px;
        left: 102px;
      }
    
      .strips_cubd1_4 > div {
        top: 120px;
        left: 102px;
    
      }



      .strips_cubd2_1 > div {
        top: 300px;
        left: 102px;
        
      }
    
      
    /*1_2*/
    
      
      .strips_cubd2_2 > div {
        top: 240px;
        left: 102px;
      }
      /*1_3*/
    
      .strips_cubd2_3 > div {
        top: 180px;
        left: 102px;
      }

      
      /*1_4*/
    
    
      .strips_cubd2_4 > div {
        top: 120px;
        left: 102px;

      }


      .strips_cubd3_1 > div {

        top: 300px;
        left: 102px;
      }
    
      .strips_cubd3_2 > div {
        top: 240px;
        left: 102px;
      }
      /*1_3*/
    
      .strips_cubd3_3 > div {
        top: 180px;
        left: 102px;
      }
    
    
    .strips_cubd3_4 > div {

        top: 120px;
        left: 102px;

    
      }

    
      .strips_cubd4_1 > div {

        top: 300px;
        left: 102px;

      }
      
      .strips_cubd4_2 > div {
        top: 240px;
        left: 102px;

      }
      /*1_3*/
    
      .strips_cubd4_3 > div {

        top: 180px;
        left: 102px;

      }
    
    
    .strips_cubd4_4 > div {
        top: 120px;
        left: 102px;
    
      }
  }










/*history*/ 

  



  

@media screen and (min-width: 520px) and (max-width: 668px) {

  .nav_menu_title ul li a {
    font-size: 24px;
  }

  #title_cubd{
    font-size: 38px;
  }

  .super_big_container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
   
}

  .button1{
    left: 0px;
    top: -60px;
    right: 0px;
    bottom: 0px;
  }
  .button2{
    left: -25px;
    top: -60px;
    right: 0px;
    bottom: 0px;
  }
  .button3{
    left: -580px;
    top: 450px;
    right: 0px;
    bottom: 0px;
  }
  .button4{
    left: -605px;
    top: 450px;
    right: 0px;
    bottom: 0px;
  }

  #kartin_anim{
    width: 75%;
    
 }
}

@media screen and (min-width: 669px) and (max-width: 768px) {
  .nav_menu_title ul li a {
    font-size: 24px;
  }
 
  #title_cubd{
    font-size: 40px;
  }

  .super_big_container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
   
}

  .button1{
    left: 0px;
    top: -60px;
    right: 0px;
    bottom: 0px;
  }
  .button2{
    left: 20px;
    top: -60px;
    right: 0px;
    bottom: 0px;
  }
  .button3{
    left: -580px;
    top: 450px;
    right: 0px;
    bottom: 0px;
  }
  .button4{
    left: -560px;
    top: 450px;
    right: 0px;
    bottom: 0px;
  }

  #kartin_anim{
    width: 75%;
    
 }
}



@media screen and (min-width: 769px) and (max-width: 1000px) {
  .nav_menu_title ul li a {
    font-size: 25px;
  }
  #title_cubd{
    font-size: 40px;
  }

  .super_big_container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
   
}

  .button1{
    left: 0px;
    top: -60px;
    right: 0px;
    bottom: 0px;
  }
  .button2{
    left: 80px;
    top: -60px;
    right: 0px;
    bottom: 0px;
  }
  .button3{
    left: -580px;
    top: 450px;
    right: 0px;
    bottom: 0px;
  }
  .button4{
    left: -510px;
    top: 460px;
    right: 0px;
    bottom: 0px;
  }
  #kartin_anim{
    width: 70%;
    
 }

}


@media screen and (min-width: 1001px) and (max-width: 1400px) {
  
.button1{
  left: 0px;
  top: 40px;
  right: 0px;
  bottom: 0px;
}
.button2{
  left: 0px;
  top: 40px;
  right: 0px;
  bottom: 0px;
}
.button3{
  left: 10px;
  top: 40px;
  right: 0px;
  bottom: 0px;
}
.button4{
  left: 15px;
  top: 40px;
  right: 0px;
  bottom: 0px;
}
#kartin_anim{
  width: 70%;
}

}
  /*history_end*/ 


  
@media screen and (min-width: 1401px) and (max-width: 2000px) {
 
.button1{
  left: 27px;
  top: 40px;
  right: 0px;
  bottom: 0px;
}
.button2{
  left: 83px;
  top: 40px;
  right: 0px;
  bottom: 0px;
}
.button3{
  left: 135px;
  top: 40px;
  right: 0px;
  bottom: 0px;
}
.button4{
  left: 185px;
  top: 40px;
  right: 0px;
  bottom: 0px;
}

.strips_cubd1_1 > div {
  top: 300px;
  left: 18px;
}

.strips_cubd1_2 > div {

  top: 240px;
  left: 18px;
}

.strips_cubd1_3 > div {
  top: 180px;
  left: 18px;
}



.strips_cubd1_4 > div {

  top: 120px;
  left: 18px;

}


.strips_cubd2_1 > div {
  top: 300px;
  left: 14px;
}



.strips_cubd2_2 > div {

  top: 240px;
  left: 14px;

}

.strips_cubd2_3 > div {

  top: 180px;
  left: 14px;
}


.strips_cubd2_4 > div {
  top: 120px;
  left: 14px;
}


.strips_cubd3_1 > div {

  top: 300px;
  left: 7px;

}

.strips_cubd3_2 > div {

  top: 240px;
  left: 7px;
 
}

.strips_cubd3_3 > div {
 
  top: 180px;
  left: 7px;

}


.strips_cubd3_4 > div {

  top: 120px;
  left: 7px;

}

.strips_cubd4_1 > div {
 
  top: 300px;
  left: 0px;

}

.strips_cubd4_2 > div {

  top: 240px;
  left: 0px;

}

.strips_cubd4_3 > div {

  top: 180px;
  left: 0px;
 
}


.strips_cubd4_4 > div {
  top: 120px;
  left: 0px;

}

}


  
@media screen and (min-width: 2400px) and (max-width: 4095px) {
 
  .button1{
    left: 176px;
    top: 40px;
    right: 0px;
    bottom: 0px;
  }
  .button2{
    left: 530px;
    top: 40px;
    right: 0px;
    bottom: 0px;
  }
  .button3{
    left: 880px;
    top: 40px;
    right: 0px;
    bottom: 0px;
  }
  .button4{
    left: 1215px;
    top: 40px;
    right: 0px;
    bottom: 0px;
  }

  
  .strips_cubd1_1 > div {
    top: 300px;
    left: 170px;
  }
  
  .strips_cubd1_2 > div {
  
    top: 240px;
    left: 170px;
  }
  
  .strips_cubd1_3 > div {
    top: 180px;
    left: 170px;
  }
  
  .strips_cubd1_4 > div {
  
    top: 120px;
    left: 170px;
  }
  
  
  .strips_cubd2_1 > div {
    top: 300px;
    left: 175px;
  }
  
  
  
  .strips_cubd2_2 > div {
  
    top: 240px;
    left: 175px;
  
  }
  
  .strips_cubd2_3 > div {
  
    top: 180px;
    left: 175px;
  }
  
  
  .strips_cubd2_4 > div {
    top: 120px;
    left: 175px;
  }
  
  
  .strips_cubd3_1 > div {
  
    top: 300px;
    left: 175px;
  
  }
  
  .strips_cubd3_2 > div {
  
    top: 240px;
    left: 175px;
   
  }
  
  .strips_cubd3_3 > div {
   
    top: 180px;
    left: 175px;
  
  }
  
  
  .strips_cubd3_4 > div {
  
    top: 120px;
    left: 175px;
  
  }
  
  .strips_cubd4_1 > div {
   
    top: 300px;
    left: 165px;
  
  }
  
  .strips_cubd4_2 > div {
  
    top: 240px;
    left: 165px;
  
  }
  
  .strips_cubd4_3 > div {
  
    top: 180px;
    left: 165px;
   
  }
  
  
  .strips_cubd4_4 > div {
    top: 120px;
    left: 165px;
  
  }
  
  }



   
@media screen and (min-width: 4095px) and (max-width: 4100px) {
 
  
  .button1{
    left: 385px;
    top: 40px;
    right: 0px;
    bottom: 0px;
  }
  .button2{
    left: 1110px;
    top: 40px;
    right: 0px;
    bottom: 0px;
  }
  .button3{
    left: 1840px;
    top: 40px;
    right: 0px;
    bottom: 0px;
  }
  .button4{
    left: 2570px;
    top: 40px;
    right: 0px;
    bottom: 0px;
  }

  
  .strips_cubd1_1 > div {
    top: 300px;
    left: 375px;
  }
  
  .strips_cubd1_2 > div {
  
    top: 240px;
    left: 375px;
  }
  
  .strips_cubd1_3 > div {
    top: 180px;
    left: 375px;
  }
  
  .strips_cubd1_4 > div {
  
    top: 120px;
    left: 375px;
  }
  
  
  .strips_cubd2_1 > div {
    top: 300px;
    left: 375px;
  }
  
  
  
  .strips_cubd2_2 > div {
  
    top: 240px;
    left: 375px;
  
  }
  
  .strips_cubd2_3 > div {
  
    top: 180px;
    left: 375px;
  }
  
  
  .strips_cubd2_4 > div {
    top: 120px;
    left: 375px;
  }
  
  
  .strips_cubd3_1 > div {
  
    top: 300px;
    left: 375px;
  
  }
  
  .strips_cubd3_2 > div {
  
    top: 240px;
    left: 375px;
   
  }
  
  .strips_cubd3_3 > div {
   
    top: 180px;
    left: 375px;
  
  }
  
  
  .strips_cubd3_4 > div {
  
    top: 120px;
    left: 375px;
  
  }
  
  .strips_cubd4_1 > div {
   
    top: 300px;
    left: 375px;
  
  }
  
  .strips_cubd4_2 > div {
  
    top: 240px;
    left: 375px;
  
  }
  
  .strips_cubd4_3 > div {
  
    top: 180px;
    left: 375px;
   
  }
  
  
  .strips_cubd4_4 > div {
    top: 120px;
    left: 375px;
  
  }
  
  }
  